p{ 
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-style: italic;
     color: #67FF32;
    text-align:justify;

}
body{
    background-color:green;
}
main{
    background-color: yellow;
}
header{
    background-color: sienna;
}
footer{
    background-color:blue;
}
.parrafo1{
    font-size: 85px;


}
.parrafo2{
    color: white;
}